@import "../../styles/conf/conf.scss";

.appNav{
  width: 100%;
  .nav-list{
    height: $top-height;
    list-style: none;
    display: flex;
    background-color:$sidebar;
    a{
      display: block;
      height: 50px;
      text-align: center;
      text-decoration: none;
      align-items: center;
      line-height: $top-height;
      margin-left: $top-height/2;
      color: #fff;
      &:hover{
        border-bottom: 1px solid #fff;
      }
      i{
        vertical-align: top;
        font-size: 14px;
        margin-right: 6px;
      }
      i.icon-replyall{
        font-size: 22px;
      }
      i.icon-personaldata{
        font-size: 12px;
      }
      i.icon-statistics{
        font-size: 16px;
      }
    }
  }
}
